@tailwind base;
@tailwind components;
@tailwind utilities;

/* Això elimina l'scroll de la finestra del navegador */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f9fafb; /* (gray-50) */
}

#app {
  height: 100%;
  width: 100%;
}